/* No need to think about the following */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.row {
  margin: 10px 0;
}

/* Set height and color of workspace and result area */

#workspace {
  min-height: 450px;
  background-color: #eeeeee;
}

#sparql-query, #json-query {
  border: 1px solid black;
  font-family: Monospace;
  min-height: 300px;
}

/* Set layout of startpoints, subjects etc. */

#workspace > div {
  border-radius: 5px;
  border:1px solid black;
  padding: 5px;
  margin: 5px 0;
  width: 250px;
}

div a {
  color: #CC0000;
}

#workspace > div.addSubjectClass{
  border-radius: 0;
  border:0 solid black;
    width:auto;
}

#workspace > div.startPointCSS {
  background: #CC0000;
  border-color: #DD0000;
}

#workspace > div.startPointCSS > select {
  float : right;
}

#workspace > div.subjectCSS {
  background-color: #ffff99;
  border-color: #ffff11;
  width: 350px;
  min-height: 200px;
}
/* doesnt work right now, anybody know why? where is the difference to subjectBodyCSS?*/
div.subjectCSS > div.subjectHeadCSS {
    /*background-color: #00ff00;*/
    padding: 5px;
    margin: 5px 0;    
}

div.subjectCSS > div.subjectHeadCSS > label {}
div.subjectCSS > div.subjectHeadCSS > input-group {}
div.subjectCSS > div.subjectHeadCSS > input-group-addon {}


div.subjectCSS div.subjectBodyCSS {
    /*background-color: #ff0000;*/
    padding: 5px;
    margin: 5px 0;    
}

/* Set layout of properties etc. */

div.subjectCSS div.propertyCSS {
  background: #B0E57C;
  color:#000000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

div.subjectCSS div.propertyCSS a {
  color: #CC0000;
}

div.subjectCSS div.propertyCSS select {
  color: #000;
}
