/* No need to think about the following */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.row {
  margin: 10px 0;
}

/* Set height and color of workspace and result area */

#workspace {
  min-height: 450px;
  background-color: #eeeeee;
}

#sparql-query, #json-query {
  border: 1px solid black;
  font-family: Monospace;
  min-height: 300px;
}

/* Set layout of startpoints, subjects etc. */

div.box {
  border-radius: 5px;
  border:1px solid black;
  padding: 5px;
  margin: 5px 0;
  width: 250px;
}

div.addSubjectBox {
  border-radius: 0;
  border:0 solid black;
  padding: 0;
  margin: 5px 0;
  width: 250px;
}

div.startPointCSS {
  background: #D2646A;
  border-color: #A53238;
  color: #6B1015;
}

div.startPointCSS > select {
  float : right;
  background: #E9A6A9;
  color: #6B1015;
}

/*SubjectForm: http://colorschemedesigner.com/#1T21TcOw0w0w0*/
div.subjectCSS {
  background-color: #ffff99;
  border-color: #A4A019;
  width: 400px;
}

div.highlight-subject {
  border: 4px black solid;
}

/* doesnt work right now, anybody know why? where is the difference to subjectBodyCSS?*/
div.subjectCSS > div.subjectHeadCSS {
  /*background-color: #00ff00;*/
    padding: 5px 5px 0;
    margin-top: 5px;
}

div.subjectCSS div.subjectHeadCSS b {
  color: darkgoldenrod;
}

#workspace div.subjectCSS > div.subjectHeadCSS > .input-group-addon {
  background: #BF98D5;
  color: #54226F;
}
div.subjectCSS > div.subjectHeadCSS > .form-control {
  background: #C5A8D5;
  color: #735B80;
}


div.subjectCSS div.subjectBodyCSS {
  /*background-color: #ff0000;*/
  padding: 5px;
  margin: 0;
}

div.subjectCSS div.subjectBodyCSS select{
  background-color: #ffffc7;
  color:darkgoldenrod;
}

/* Set layout of properties etc. */

div.subjectCSS div.propertyCSS {
  background: #B0E57C;
  color:#000000;
  border-radius: 0;
    padding: 5px 10px;
    margin: 0 -10px 5px;
}

div.subjectCSS div.propertyCSS b {
  color: #0D5516;
}

div.subjectCSS div.propertyCSS a {
  color: #CC0000;
}

div.subjectCSS div.propertyCSS select {
  background: #D3F2B5;
  color: #0D5516;
}

div.subjectCSS div.propertyCSS div.propertyHeadCSS i {
  color: #0000bb;
}

div.subjectCSS div.inversePropertyCSS {
  background: #00E57C;
  color:#000000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

div.subjectCSS div.inversePropertyCSS b {
  color: #0D5516;
}

div.subjectCSS div.inversePropertyCSS a {
  color: #CC0000;
}

div.subjectCSS div.inversePropertyCSS select {
  background: #D3F2B5;
  color: #0D5516;
}

div.subjectCSS div.inversePropertyCSS div.inversePropertyHeadCSS i {
  color: #0000bb;
}


#saveLink a:hover
    {
    color: #000000;
    text-decoration: none;
    }
#saveLink a:link
{
    color: #ffffff;
  text-decoration: none;
}
#saveLink a:active
{
    color: #ffffff;
    text-decoration: none;
}
#saveLink a:visited
{
    color: #ffffff;
    text-decoration: none;
}

.ui-select-bootstrap > .ui-select-choices {
  width:400px;
  max-height: 600px;
}

.dropdown-menu {
  width: 400px;
  right:0;
  left:auto;
}

#top-controls td
{
  padding:2px;
}

#legend td {
  padding-right: 5em;
}