/* No need to think about the following */
.row {
  margin: 10px 0;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

pre {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
}

/* Set height and color of workspace and result area */

#sparql-query, #json-query {
  border: 1px solid black;
  font-family: Monospace;
  min-height: 300px;
}

/* Set layout of startpoints, subjects etc. */

div.box {
  border-radius: 5px;
  border:1px solid black;
  padding: 5px;
  margin: 5px 0;
  width: 250px;
}

div.addSubjectBox {
  border-radius: 0;
  border:0 solid black;
  padding: 0;
  margin: 5px 0;
  width: 250px;
}

div.startPointCSS {
  background: #D2646A;
  border-color: #A53238;
  color: #6B1015;
}

div.startPointCSS > select {
  float : right;
  background: #E9A6A9;
  color: #6B1015;
}

/*SubjectForm: http://colorschemedesigner.com/#1T21TcOw0w0w0*/
div.subjectCSS {
  background-color: #ffff99;
  border-color: #A4A019;
  width: 400px;
}

div.highlight-subject {
  border: 4px black solid;
}

/* doesnt work right now, anybody know why? where is the difference to subjectBodyCSS?*/
div.subjectCSS > div.subjectHeadCSS {
  /*background-color: #00ff00;*/
    padding: 5px 10px 0;
    margin-top: 5px;
}

div.subjectCSS div.subjectHeadCSS b {
  color: darkgoldenrod;
}

div.subjectCSS div.subjectBodyCSS {
  /*background-color: #ff0000;*/
  padding: 5px;
  margin: 0;
}

div.subjectCSS div.subjectBodyCSS select{
  background-color: #ffffc7;
  color:darkgoldenrod;
}

/* Set layout of properties etc. */

div.subjectCSS div.propertyCSS {
  background: #B0E57C;
  color:#000000;
  border-radius: 0;
    padding: 5px 15px;
    margin: 0 -10px 5px;
}

div.subjectCSS div.propertyCSS b {
  color: #0D5516;
}

div.subjectCSS div.propertyCSS select {
  background: #fff;
  color: #555;
}

div.subjectCSS div.propertyCSS.notExists {
    background: #ef5d54;
    border-color: #A53238;
    color:#000000;
    border-radius: 0;
    padding: 5px 15px;
    margin: 0 -10px 5px;
}

div.subjectCSS div.propertyCSS.notExists b {
    color: #6B1015;
}

div.subjectCSS div.propertyFilters {
    padding-bottom: 10px;
}

.ui-select-bootstrap > .ui-select-choices {
  width:400px;
  max-height: 600px;
}


#top-controls td
{
  padding:2px;
}

#legend td {
  padding-right: 5em;
}
 {
}

i.pointer,
.icon-list i {
    cursor: pointer;
    color: #2d5085;
    text-decoration: none;
}

i.pointer:hover,
.icon-list i:hover {
    cursor: pointer;
    color: #599cee;
    text-decoration: none;
}