@import "imports";
@import "variables";

/* No need to think about the following */
.row {
  margin: 10px 0;
}

* {
  -webkit-touch-callout: none;
  user-select: none;
  cursor: default;
}

pre {
  -webkit-touch-callout: default;
  user-select: text;
  cursor: text;

}

table.table td {
  cursor: text;
}

table.table td span {
  -webkit-touch-callout: default;
  user-select: text;
  cursor: inherit;
}

a {
  cursor: pointer !important;
}

/* Set height and color of workspace and result area */

#sparql-query, #json-query {
  border: 1px solid black;
  font-family: Monospace;
  min-height: 300px;
}

.startPointCSS {
  background: @btn-danger-bg;
  border-color: darken(spin(@btn-danger-bg, -10), 10%);
  color: darken(@btn-danger-bg, 20%);
}

.box {
  border-radius: @border-radius-base;
  border: 1px solid black;
  padding: 5px;
  margin: 5px 0;
  width: 250px;
}

.addSubjectBox {
  .box();
  padding: 0;
  border-color: transparent;
}

.subjectCSS {
  background-color: #ffff99;
  border-color: #A4A019;
  width: 400px;

  .subjectHeadCSS {
    padding: 5px 10px 0;
    margin-top: 5px;

    b {
      color: darkgoldenrod;
    }

  }

  .subjectBodyCSS {
    padding: 5px;
    margin: 0;
  }

}

i.pointer, .icon-list i {
  cursor: pointer;
  color: #2d5085;
  text-decoration: none;
  &:hover {
    color: #599cee;
  }
}

.propertyCSS {
  position: relative;
  background: #B0E57C;
  color: #000000;
  padding: 5px 15px;
  margin: 0 10px 5px;

  b {
    color: #0D5516;
  }

  &.notExists {
    background: #ef5d54;
    border-color: #A53238;

    b {
      color: #6B1015;

    }
  }
}

.propertyFilters {
  padding-bottom: 10px;

}

.ui-select-bootstrap {
  > input.ui-select-search.form-control {
    border-radius: 0;
  }
  > .ui-select-choices {
    width: 350px;
    max-height: 300px;
    right: 0;
    left: auto;
  }
}

.connector {
  z-index: 10;
  &-label {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #2d5085;
    z-index: 15;
  }
  path {
    stroke: #2d5085;
    stroke-width: 2px;
    outline: transparent 4px;
    &.arrow {
      fill: #2d5085;
    }
  }
}