<!-- WORKSPACE, this is where most of the magic happens -->
<!-- See @js/controllers/main.js -->
<div ng-mousedown="vm.workspaceMouseDown($event)" ng-mousemove="vm.workspaceMouseMove($event)"
     ng-mouseup="vm.workspaceMouseUp()"
     class="bg-scroll"></div>

<!-- Row containing workspace -->
<div id="workspace">
    <!-- Start Point, with drop down for choosing the main class (= linked to startpoint) -->
    <div class="startPointCSS" id="startpoint">
        <b>{{ 'LIST_ALL' | translate }}</b>
        <select ng-show="vm.groups.length > 0" ng-model="vm.x.mainSubject"
                ng-options="s.alias for s in vm.groups | orderBy : 'alias'" title="Main Subject Select"
                class="pull-right">
            <option style="display:none" value="">{{ 'PICK_MAIN_SUBJECT' | translate }}</option>
        </select>
    </div>

    <div class="connectNotification" ng-if="vm.searchSubject">
        <b> {{'SEARCH_RELATION' | translate:vm.searchSubject}}</b>
    </div>

    <!-- See @js/controllers/addSubject.js -->
    <div class="addSubjectBox form-group pull-right">
        <div class="input-group">
            <!-- UI-SELECT Directive, taken from here: https://github.com/angular-ui/ui-select -->
            <ui-select ng-model="vm.selectedSubject">
                <ui-select-match placeholder="{{ 'CHOOSE_A_SUBJECT' | translate }}">
                    {{$select.selected.label}}
                </ui-select-match>
                <!-- IMPORTANT: it has to be item in 'repeat="item in...',
                as ui-select defines it internally.	Anything else wont work!-->
                <ui-select-choices repeat="item.uri as item in vm.availableSubjectClasses |
                        filter: $select.search |
                        limitTo: 50">
                    <!-- TODO: VERTICAL ALIGN INFO SIGN AND REMOVE IN-HTML-STYLE -->
                    <p style="margin: 0">
                        <i class="fa fa-info-circle pull-right"
                           ng-if="(item.comment | translate) !== item.comment"
                           popover="{{item.comment | translate}}"
                           popover-trigger="mouseenter"
                           popover-placement="left"
                           popover-append-to-body="true"></i>
                        <strong ng-bind-html="item.label | highlight: $select.search"></strong>
                        <small>
                            <small ng-bind-html="item.uri | replaceURIsWithPrefixes"></small>
                        </small>
                    </p>
                </ui-select-choices>
            </ui-select>
	        <span class="input-group-btn">
		        <button ng-click="vm.addSubject(vm.selectedSubject)" class="btn btn-success">
                    <span class="fa fa-plus"></span>
                </button>
          </span>

        </div>
    </div>

    <!-- Inserts all existing subjects in workspace, See @js/directives/subject.js -->
    <subject-dir subject="subjectInst" offset="offset" ng-repeat="subjectInst in vm.subjects"></subject-dir>
</div>