<div class="subjectCSS">
  <!-- Template for subject directive -->
  
  <!-- Button (Trash-ICON) to remove Subject from list @js/controller/subject.js -->
  <!--FUNCTION removeSubject() IS NOT CALLED BY property.html! DOES ANYBODY KNOW WHY?-->
  <a ng-click="removeSubject(subjectInst)"><span class="glyphicon glyphicon-trash"></span></a>
  
  <h2>{{subjectInst.alias}}</h2>
  <p class="small">URI: {{subjectInst.uri}}</p>

  <!-- Input for changing the Alias: -->
  <p>Alias: <input type="text" ng-model="subjectInst.alias" /></p>

  <!-- Here there will be the properties of the subjectInst, see @js/controller/property.js -->
  <div ng-controller="PropertyCtrl">

    <!-- Inserts all Properties of an Subject, See @js/directives/property.js -->
    <property-dir ng-repeat="propertyInst in subjectInst.selectedProperties"></property-dir>

    <!-- Button to add an available property to the actual list of selected properties, See @js/controller/property.js -->
    <form ng-submit="addProperty()">
      <input class="btn btn-primary" type="submit" value="add">

      <!-- Dropdown with all available Properties of a subjectInst -->
      <select ng-model="propertySelected" ng-required="true" ng-options="v.alias for (k,v) in subjectInst.availableProperties">
        <option style="display:none" value="">Add a property</option>
      </select>
    </form>
  </div>
</div>
