<div class="subjectCSS box" ng-class="{true: 'highlight-subject'}[highlightedSubject.alias == subjectInst.alias]"
     style="position:absolute;z-index: 5;">
  <!-- Template for subject directive -->

  <!--Head of a subject includes the label, the alias and some controls -->
  <div class="subjectHeadCSS">
    <span class="pull-right">

      <!-- Button (Info-Sign) to show more Infos of subjectInst on hover -->
      <i class="glyphicon glyphicon-info-sign"
         popover="{{subjectInst.$comment}}"
         popover-trigger="{{dragging ? 'none' : 'mouseenter'}}"
         popover-placement="top"
         popover-append-to-body="true"></i>

      <mover><i class="glyphicon glyphicon-move"></i></mover>

      <!-- Button (Eyes) to show whether a subjectInst will be visible in the result or not. -->
      <a ng-show="subjectInst.view" ng-click="toggleSubjectView()">
        <i class="glyphicon glyphicon-eye-open"></i>
      </a>
      <a ng-show="!subjectInst.view" ng-click="toggleSubjectView()">
        <i class="glyphicon glyphicon-eye-close"></i>
      </a>

      <!--Button (Trash-ICON) to remove subjectInst from list @js/controller/main.js-->
      <a ng-click="removeSubject(subjectInst)"><i class="glyphicon glyphicon-trash"></i></a>

    </span>
    <!-- Label/URI of subjectInst -->
    <p>
      <b>Class: {{subjectInst.$label}}<br>
        <span ng-show="expertView">{{subjectInst.uri}}</span></b>
    </p>

    <!--Input for changing the Alias:-->
    <p class="input-group pull-left">
      <span class="input-group-addon">as</span>
      <input type="text" size="30" maxlength="40"
             class="form-control" placeholder="Alias"
             ng-model="subjectInst.alias">
    </p>
  </div>

  <!-- Here there will be the properties of the subjectInst, see @js/controller/property.js -->
  <div class="subjectBodyCSS" ng-controller="PropertyCollectionCtrl">
    <div class="clearfix"></div>

    <!-- Inserts all Properties of an Subject, See @js/directives/property.js -->
    <property-dir ng-repeat="propertyInst in subjectInst.$selectedProperties"></property-dir>

    <inverse-property-dir ng-repeat="propertyInst in subjectInst.selectedInverseProperties"></inverse-property-dir>

    <aggregate-property-dir ng-repeat="propertyInst in subjectInst.$selectedAggregates"></aggregate-property-dir>

    <div>
      <!-- Button to add an available property to the actual list of selected properties, See @js/controller/property.js -->
      <div class="row">
        <div class="input-group">
          <!-- UI-SELECT Directive, taken from here: https://github.com/angular-ui/ui-select -->
          <ui-select ng-model="$parent.propertySelected">
            <match placeholder="Please choose a property to add.">
              {{$select.selected.alias}}
            </match>
            <!-- IMPORTANT: it has to be item in 'repeat="item in...',
            as ui-select defines it internally.	Anything else wont work!	-->
            <choices
                repeat="item group by type in subjectInst.$availableProperties |
                        orderBy:'alias' | orderBy:'type' |
                        filter: $select.search | limitTo: 10">
                <p style="margin: 0">
                    <i class="glyphicon glyphicon-question-sign pull-right"
                       popover="{{item.$comment}}"
                       popover-trigger="mouseenter"
                       popover-append-to-body="true"></i>
                    <strong ng-bind-html="item.alias | highlight: $select.search"></strong>
                </p>
            </choices>
          </ui-select>
	        <span class="input-group-btn">
		        <button ng-click="addProperty()" class="btn btn-success">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>

        </div>
      </div>
      <div class="row">
        <button ng-click="addAggregate()" class="btn btn-success">Add Aggregate Function</button>
      </div>
    </div>


  </div>

</div>
