<div class="subjectCSS box" ng-class="{true: 'highlight-subject'}[highlightedSubject.alias == subjectInst.alias]"
     style="position:absolute;z-index: 5;">
  <!-- Template for subject directive -->

  <!--Head of a subject includes the label, the alias and some controls -->
  <div class="subjectHeadCSS">
      <p>
    <span class="pull-right icon-list">

     <mover><i class="fa fa-fw fa-arrows"></i></mover>


      <!-- Button (Info-Sign) to show more Infos of subjectInst on hover -->
      <i class="fa fa-fw fa-info-circle" ng-if="(subjectInst.uri + '.$comment' | translate) !== subjectInst.uri + '.$comment'"
         popover="{{subjectInst.uri + '.$comment' | translate}}"
         popover-trigger="{{dragging ? 'none' : 'mouseenter'}}"
         popover-placement="right"
         popover-append-to-body="true"></i>


      <!-- Button (Eyes) to show whether a subjectInst will be visible in the result or not. -->
        <i class="fa fa-fw fa-eye" ng-show="subjectInst.view" ng-click="toggleSubjectView()"></i>
        <i class="fa fa-fw fa-eye-slash" ng-hide="subjectInst.view" ng-click="toggleSubjectView()"></i>

      <!--Button (Trash-ICON) to remove subjectInst from list @js/controller/main.js-->
      <i class="fa fa-fw fa-trash-o" ng-click="removeSubject(subjectInst)"></i>

    </span>
    <!-- Label/URI of subjectInst -->
      <b>
          <span class="h4" >{{subjectInst.alias}}</span>
          <i class="fa fa-edit pointer" ng-click="subjectInst.editAlias = true"></i>
          <!-- TODO: just show if necessary -->
          <small><small>({{ subjectInst.uri | replaceURIsWithPrefixes}})</small></small>
      </b>
</p>
    <!--Input for changing the Alias:-->
    <p class="input-group pull-left"ng-show="subjectInst.editAlias">
      <input type="text" size="30" maxlength="40"
             class="form-control" placeholder="Alias"
             ng-model="subjectInst.alias">
        <span class="btn input-group-addon btn-success" ng-click="subjectInst.editAlias = false">
        <i class="fa fa-check-square-o"></i>
        </span>
    </p>
  </div>

  <!-- Here there will be the properties of the subjectInst, see @js/controller/property.js -->
  <div class="subjectBodyCSS" ng-controller="PropertyCollectionCtrl">
    <div class="clearfix"></div>

    <!-- Inserts all Properties of an Subject, See @js/directives/property.js -->
    <property-dir ng-repeat="propertyInst in subjectInst.$selectedProperties"></property-dir>

    <aggregate-property-dir ng-repeat="propertyInst in subjectInst.$selectedAggregates"></aggregate-property-dir>

      <div ng-hide="subjectInst.showAddProperty" class="text-center">
          <div class="btn btn-sm btn-success" ng-click="subjectInst.showAddProperty = true" >
              <span class="fa fa-plus"></span> {{ 'PROPERTY' | translate }}
          </div>
      </div>

    <div ng-show="subjectInst.showAddProperty">
      <!-- Button to add an available property to the actual list of selected properties, See @js/controller/property.js -->
      <div class="row">
        <div class="input-group">
          <!-- UI-SELECT Directive, taken from here: https://github.com/angular-ui/ui-select -->
          <ui-select ng-model="$parent.propertySelected">
            <match placeholder="{{ 'CHOOSE_A_PROPERTY' | translate }}">
              {{$select.selected.uri + '.$label' | translate}}
            </match>
            <!-- IMPORTANT: it has to be item in 'repeat="item in...',
            as ui-select defines it internally.	Anything else wont work!
                TODO: Order by localized label
            	TODO: Only show comment if existing
            	-->
            <choices
                repeat="item group by type in subjectInst.$availableProperties |
                        filter: $select.search |
                        orderBy:'type' |
                        limitTo: 50">
                <p style="margin: 0">
                    <i class="fa fa-info-circle pull-right" ng-if="(item.uri + '.$comment' | translate) !== item.uri + '.$comment'"
                       popover="{{item.uri + '.$comment' | translate}}"
                       popover-trigger="mouseenter"
                       popover-append-to-body="true"></i>
                    <strong ng-bind-html="item.uri + '.$label' | translate | highlight: $select.search"></strong>
                    <small><small ng-bind-html="item.uri | replaceURIsWithPrefixes"></small></small>
                </p>
            </choices>
          </ui-select>
	        <span class="input-group-btn">
		        <button ng-click="addProperty()" class="btn btn-success">
              <span class="fa fa-plus"></span>
            </button>
          </span>

        </div>
      </div>
      <div class="row">
        <button ng-click="addAggregate()" class="btn btn-success">{{ 'ADD_A_AGGREGATE' | translate }}</button>
      </div>
    </div>


  </div>

</div>
