<div>
    <div class="input-group input-group-sm">
        <div class="input-group-addon">
            {{'ARITHMETICS' | translate}}
        </div>
        <input class="form-control" ng-model="numberArithmetic" limit-input="[^\-\*\/\.\+()\d xe]">
    </div>

    <div class="input-group input-group-sm" style="margin-top: 5px;">
        <div class="input-group-addon">
            {{'COMPARISON' | translate}}
        </div>
        <input class="form-control" ng-model="numberComparison" limit-input="[^\-\*\/\.\+()><=!\d xye]">
    </div>
    </form>
</div>