<!doctype html>
<html lang="en" ng-app="GSB">
<head>
  <meta charset="utf-8">
  <title>GSB: Prototyp</title>
  <!-- Import bootstrap CSS Framework for Styles, see http://getbootstrap.com -->
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
  <!-- Import ui-select files -->
  <link rel="stylesheet" href="lib/ui-select/select.css">
  <!-- Import our own styles -->
  <link rel="stylesheet" href="css/app.css"/>

</head>
<body>
<!-- WORKSPACE, this is where most of the magic happens -->
<!-- See @js/controllers/main.js -->
<div class="container" ng-controller="MainCtrl">

  <!-- Row containing Page title -->
  <div class="row">
    <h1>Graphical SPARQL Builder</h1>
  </div>

  <!-- Row containing top controls -->
  <div class="row">
    <div id="top-controls" class="col-sm-12">
      <a href="#" class="btn btn-warning" ng-click="translateJSONtoSPARQL()">Build Query</a>
      <a href="#" class="btn btn-danger" ng-click="initializeWorkspace()">Reset Workspace</a>
      <a href="#" class="btn btn-info" ng-click="expertView = !expertView"><span
          class="glyphicon glyphicon-tower"></span></a>
    </div>
  </div>

  <!-- Row containing workspace -->
  <div id="top" class="row">

    <div id="workspace" class="col-sm-12">

      <!-- Start Point, with drop down for choosing the main class (= linked to startpoint) -->
      <div class="startPointCSS" start-point-dir>
        <b>LIST ALL</b>
        <select ng-model="mainSubjectSelected" ng-options="s.alias for s in subjects" title="Main Subject Select">
          <option style="display:none" value="">Pick main subject</option>
        </select>
      </div>

      <!-- Inserts all existing subjects in workspace, See @js/directives/subject.js -->
      <div ng-controller="SubjectCollectionCtrl">
        <!-- See @js/controllers/addSubject.js -->
        <div class="form-group pull-right">
          <div class="input-group">
            <!-- UI-SELECT Directive, taken from here: https://github.com/angular-ui/ui-select -->
            <ui-select ng-model="$parent.selectedSubjectClass" theme="lib/ui-select/bootstrap">
              <match placeholder="Please choose a subject.">

                {{$select.selected.alias}}
              </match>
              <!-- IMPORTANT: it has to be item in 'repeat="item in...',
                   as ui-select defines it internally.	Anything else wont work!	-->
              <choices repeat="item in availableSubjectClasses | filter: $select.search">
                <div ng-bind-html="item.alias | highlight: $select.search"></div>
                <small ng-bind-html="item.uri | highlight: $select.search"></small>
              </choices>
            </ui-select>
	      <span class="input-group-btn">
		      <button ng-click="uiAddSubject()" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </span>

          </div>
        </div>
        <subject-dir ng-repeat="subjectInst in subjects"></subject-dir>
      </div>

    </div>
  </div>

  <!-- Result area -->
  <div class="row">
    <h3 class="col-sm-12">Results</h3>
    <div id="middle-controls" class="col-sm-12">Controls for SPARQL Result</div>
    <div class="col-sm-6">
      <p>JSON:</p>
      <pre id="json-query">{{translatedJSON}}</pre>
    </div>
    <div class="col-sm-6">
      <p>SPARQL:&nbsp;<a href="#" ng-click="openInNewTab()">Starte dbpedia-query!</a></p>
      <pre id="sparql-query" class="col-sm-6">{{translatedSPARQL}}</pre>
    </div>

  </div>
</div>
<!-- Always import JQuery before angular, so angular uses the FULL power of it -->
<script src="lib/jquery-1.11.0.min.js"></script>
<!-- Import Angular JS Framework, see http://angularjs.org -->
<script src="lib/angular/angular.js"></script>
<!-- Import angular-sanitize for ui-select -->
<script src="lib/angular/angular-sanitize.js"></script>
<!-- Import Angular-UI bootstrap for Bootstrap JS, see https://github.com/angular-ui/bootstrap/ -->
<!-- Not used, at the moment: <script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>-->
<!-- UI-SELECT Directive, taken from here: https://github.com/angular-ui/ui-select -->
<script src="lib/ui-select/select.js"></script>
<!-- Import our app and controllers and directives -->
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/filters.js"></script>
<script src="js/services/availableClasses.js"></script>
<script src="js/controllers/main.js"></script>
<script src="js/controllers/subjectCollection.js"></script>
<script src="js/controllers/subjectInstance.js"></script>
<script src="js/controllers/propertyCollection.js"></script>
<script src="js/controllers/propertyInstance.js"></script>
<script src="js/controllers/propertyType/object.js"></script>
<script src="js/directives/subject.js"></script>
<script src="js/directives/property.js"></script>
<script src="js/directives/propertyType/object.js"></script>
<script src="js/directives/startPoint.js"></script>
<script src="translator/translatorXchangeURIs.js"></script>
</body>
</html>
