<!doctype html>
<html lang="en" ng-app="VSB">

<head>
    <meta charset="utf-8">
    <title>{{'TITLE_SHORT' | translate}}: Prototyp</title>
    <!--  <%= vendorCSS %> -->
    <!-- inject:vendor:css -->
    <!-- endinject -->

    <!--  <%= appCSS %> -->
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body ng-controller="HelpCtrl" on-before-print="printed = true" on-after-print="printed = false">

<div ng-intro-options="IntroOptions" ng-intro-method="CallMe" ng-intro-onchange="ChangeEvent" id="root"
     ng-class="{'beingPrinted': printed}">
    <div id="navigation" class="navigation" ng-controller="NavigationCtrl"
         ng-class="switchStatus?'fixed-width':'';">
        <div class="list-group header">
            <div class="list-group-item">
                <div class="list-group-item-heading" ng-class="switchStatus?'h4':'h3';">
                    {{'TITLE_SHORT' | translate}}
                </div>
                <span class="list-group-item-text">{{ 'TITLE' | translate}}</span>
            </div>
        </div>

        <div ui-view="navigation"></div>
        <div class="list-group fix-bottom">
            <a class="list-group-item" ng-click="setSwitchStatus(!switchStatus)">
                <i class="fa fa-fw fa-3x fa-toggle-on"
                   ng-class="switchStatus?'fa-toggle-on':'fa-toggle-off';"></i>
                <span class="list-group-item-description" translate="KEEP_OPEN"></span>
            </a>
        </div>
    </div>
    <div ui-view="content" class="content" id="content"></div>

</div>

<!--  <%= vendorJS %> -->
<!-- inject:vendor:js -->
<!-- endinject -->

<script src="scripts/jassa.min.js"></script>

<!--  <%= appJS %> -->
<!-- inject:js -->
<!-- endinject -->
<script src="overwrite.js"></script>
</body>
</html>
