<!doctype html>
<html lang="en" ng-app="GSB">
		<head>
				<meta charset="utf-8">
				<title>My AngularJS App</title>
				<!-- Import bootstrap CSS Framework for Styles, see http://getbootstrap.com -->
				<link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
				<link rel="stylesheet" href="css/app.css"/>

  </head>
  <body>
    <div class="container" ng-controller="WorkspaceCtrl">

      <!-- Row containing Page title -->
      <div class="row">
        <h1>Graphical SPARQL Builder</h1>
      </div>
      <!-- Row containing top controls -->
      <div class="row">
								<div id="top-controls" class="col-sm-12">
										<a href="#" class="btn btn-warning" ng-click="translate()">Build Query</a>
										<a href="#" class="btn btn-info">Save as JSON</a>
										<a href="#" class="btn btn-danger">Reset Query</a>
								</div>
      </div>

      <!-- WORKSPACE, this is where most of the magic happens -->
      <div id="top" class="row">

        <!-- See @js/controllers/workspace.js -->
        <div id="workspace" class="col-sm-12">
										
          <!-- Button/Modal for adding Subjects, See @js/controllers/workspace.js -->
										<div class="addSubjectClass pull-right" ng-controller="ModalCtrl">
												modal version<br>
												<button class="btn btn-success" ng-click="open()">Choose subject!</button>
										</div>

										<!-- Drop Down in a Button for adding Subjects, See @js/controllers/workspace.js -->
										<!--	the nesting of a dropdown in a button seems to cause problems in some browsers-->
										<div class="addSubjectClass pull-right" ng-controller="AddSubjectDropDownCtrl">
												dropdown in button version<br>
												<button class="btn btn-success" ng-click="dropDownAddSubject()">
														Add
														
														<select ng-model="selectedSubjectClass" ng-options="asc.alias for asc in availableSubjectClasses">
																<option value="">-choose subject-</option>
														</select>
												</button>
										</div>
										
										<!-- Button/Drop Down for adding Subjects, See @js/controllers/workspace.js -->
										<!--	hope this on works fine-->
										<div class="addSubjectClass pull-right" ng-controller="AddSubjectDropDownCtrl">
												dropdown next to button version<br>
												<button class="btn btn-success" ng-click="dropDownAddSubject()">
														Add
												</button>
												<select ng-model="selectedSubjectClass" ng-options="asc.alias for asc in availableSubjectClasses">
														<option value="">-choose subject-</option>
												</select>
										</div>

										<!-- Start Point, with drop down for choosing the main class (= linked to startpoint) -->
										<div class="startPointCSS">
										  LIST ALL
										  <select ng-model="mainSubjectSelected" ng-options="s.alias for s in subjects">
										    <option style="display:none" value="">Pick main subject</option>
										  </select>
										</div>

										<!-- Inserts all existing subjects in workspace, See @js/directives/workspace.js -->
										<subject-dir ng-repeat="subjectInst in subjects"></subject-dir>
								</div>
						</div>

						<!-- Result area, at the moment not populated -->
						<div class="row">
								<h3 class="col-sm-12">SPARQL Query</h3>
								<div id="middle-controls" class="col-sm-12">Controls for SPARQL Result</div>
								<pre id="sparql-query" class="col-sm-12">{{result}}</pre>
						</div>
				</div>

    <!-- In production use:
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
				-->

				<!-- Import Angular JS Framework, see http://angularjs.org -->
				<script src="lib/angular/angular.js"></script>
				<script src="lib/angular/angular-route.js"></script>
				<!-- Import Angular-UI bootstrap for Bootstrap JS, see https://github.com/angular-ui/bootstrap/ -->
				<script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
				<script src="lib/jquery-1.11.0.min.js"></script>
				<!-- Import our app and controllers and directives -->
				<script src="js/app.js"></script>
				<script src="js/config.js"></script>
				<script src="js/controllers/workspace.js"></script>
				<script src="js/controllers/property.js"></script>
				<script src="js/directives/subject.js"></script>
				<script src="js/directives/property.js"></script>
				<script src="js/draggable.js"></script>

		</body>
</html>
