<div class="propertyCSS">
  <!-- Template for property directive -->

  <!-- Top of a property -->
  <div class="propertyHeadCSS">
    <div class="pull-right" ng-show="subjectInst.showAdditionalFields">
      <!-- Button (Trash-ICON) to remove propertyInst from list @js/controller/property.js -->
      <a href="#" ng-click="removeAggregate(propertyInst)"><i class="glyphicon glyphicon-trash"></i></a>
    </div>

    <!-- Alias of propertyInst -->
    <div><b>{{selected.alias}}({{link.alias}})</b></div>

  </div>

  <!-- Body of a property -->
  <div class="propertyBodyCSS">
    <select ng-model="selected" ng-options="x as x.alias for x in propertyInst.available">
      <option value="">Select an aggregate function</option>
    </select>

    <select ng-model="link" ng-options="x as x.alias for x in subjectInst.selectedProperties | aggregatePropertyFilter:selected">
      <option value="">Choose a Property</option>
    </select>

  </div>

</div>