<div ng-show="subjectInst.showAdditionalFields" class="col-xs-10">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-4 control-label">Arithmetics:</label>

      <div class="col-xs-8">
        <input class="form-control" ng-model="numberArithmetic" limit-input="[^\-\*\/\.\+()\d xe]">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-4 control-label">Comparison:</label>

      <div class="col-xs-8">
        <input class="form-control" ng-model="numberComparison" limit-input="[^\-\*\/\.\+()><=!\d xye]">
      </div>
    </div>
  </form>
</div>