<div>
    <!-- if a property is selected, it will be linked with the subject -->
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
                a link to
            </div>
            <select ng-model="propertyInst.linkTo"
                    class="form-control input-sm"
                    ng-options="x as x.alias for x in subjects | objectPropertyFilter : '$classURIs' : propertyInst.$propertyRange"
                    title="Link with a subject">
                <option value="">Link with a subject</option>
            </select>
            <div class="input-group-addon">
                exists
            </div>
            <!-- TODO: Add non existing links
            <div class="input-group-btn dropdown" is-open="status.isopen">
                <button type="button" class="btn btn-default dropdown-toggle">
                    {{getOperatorText()}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">exists</a></li>
                    <li><a href="#">exists not</a></li>
                </ul>
            </div> -->
        </div>
</div>