<div>
  <!-- if a property is selected, it will be linked with the subject -->
  <select ng-model="selectedLanguage"
          ng-options="x as x for x in allowedLanguages"
          title="Select">
    <option value="">LANG</option>
  </select>
  <select ng-model="stringComparison"
          ng-options="idx as x.label for (idx, x) in allowedStringComparisons"
          title="Compare this string">
    <option value="">exists</option>
  </select>
  <input ng-show="stringComparison != null" ng-model="comparisonInput">
  <input ng-show="stringComparison != null && showFlags" ng-model="comparisonRegexFlags">
</div>